@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: rgb(244, 255, 196);
  min-width: 200px;
  margin-top: 30px;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablinks {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.divtablink {
  display: flex;
  /* width: calc(15% + 10px); */
  width: 15%;
  border: 1px solid rgb(30, 129, 0);
  border-bottom: 0px;
  position: relative;
}

.tablink {
  background-color: #555;
  color: rgb(99, 99, 99);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 6px;
  width: 100%;
  font-size: 5px;
}
.tablink:hover {
  background-color: #f8fc22;
}

/* Style the tab content (and add height:100% for full page content) */
/* .tabset{
  display: flex;
} */
.tabcontent {
  color: rgb(99, 99, 99);
  padding: 20px 10px;
  height: 100%;
  max-width: 60%;
  margin: 0 auto;
  border: 1px solid rgb(30, 129, 0);
}

.btn {
  opacity: 0.5;
  font-size: 14px;
}

#TabHome, .home {
  background-color: rgb(209, 254, 163);
}

#TabNews, .news {
  background-color: rgb(180, 255, 106);
}

#TabContact, .contact {
  background-color: rgb(160, 255, 65);
}

#TabAbout, .about {
  background-color: rgb(140, 255, 25);
}

.active {
  border-bottom: 0;
  position: relative;
  top: 1px;
}

.hide {
  display: none;
}

legend {
  font-size: 14px;
}